.feature-group {
  margin: 28px auto;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-group .content-box .content-text {
  color: white;
  font-weight: bold;
  font-size: 28px;
  margin-right: 2px;
  line-height: 36px;
}

.feature-group .content-box .content-support {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feature-group .content-box p {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.feature-group .order-btn {
  width: 200px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
}

.feature-group .order-btn:hover {
  border: 3px solid white;
  background-color: white;
  color: black;
}

.scrim-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}

.scrim-section h2 {
  color: #f4f4f4;
  letter-spacing: -0.5px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.slide-section {
  background-color: black;
  color: white;
  align-items: center;
  padding: 120px 150px;
}

.slide-section .carousel.carousel-slider .control-arrow {
  border: 3px solid white;
  top: 48%;
  bottom: unset;
  padding: 8px 12px;
}

.slide-section .carousel .control-next.control-arrow {
  right: 12px;
}

.slide-section .carousel .control-prev.control-arrow {
  left: 12px;
}

.slide-section .carousel.carousel-slider {
  overflow: unset !important;
}

.slide-section .carousel .control-dots {
  bottom: -50px;
  width: 20%;
}

.slide-section .carousel .slide .legend {
  left: unset;
  right: 0;
  bottom: -90px;
  width: 80%;
  text-align: left;
  opacity: 1;
  background: transparent;
}

.slide-section .slide {
  opacity: 0 !important;
}

.slide-section .slide.selected {
  opacity: 1 !important;
}

.slide-section .carousel .slider-wrapper {
  overflow: unset !important;
}

.slide-section .carousel .slide .legend h3 {
  letter-spacing: -0.6px;
  font-size: 24px;
  color: white !important;
  line-height: 28px;
  font-weight: normal;
}

.slide-section .carousel .slide .legend p {
  color: white !important;
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.img-row-reverse {
  padding: 80px 200px;
}

.scrim-image-content {
  display: flex;
}

.scrim-image-content.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.scrim-image-content img {
  width: 50%;
}

.scrim-image-content .content-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 0 80px;
  justify-content: center;
  color: white;
}

.scrim-image-content .content-box h4 {
  color: white;
  font-size: 14px;
  line-height: 21px;
}

.scrim-image-content .content-box p {
  color: white;
  font-size: 14px;
  line-height: 21px;
}

.wrap-small {
  width: 100vw;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-layout-box {
  padding: 60px 200px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.banner-layout {
  display: flex;
  gap: 20px;
}

.banner-layout .left-banner {
  width: 40%;
}

.banner-layout .right-banner {
  width: 60%;
}

.banner-layout .left-banner h2 {
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.banner-layout .left-banner h1 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.banner-layout-box button {
  border-color: black;
  width: 150px;
  margin: 0;
  font-weight: normal;
  background: transparent;
}

.banner-layout-box button:hover {
  border-color: black;
  color: white;
  background: black;
}

.banner-layout .right-banner p {
  font-size: 14px;
  line-height: 21px;
}

.wrap-image-content {
  display: flex;
}

.wrap-image-content .image-content {
  width: 75%;
}

.wrap-image-content .banner-content {
  width: 25%;
}

.wrap-image-content .image-content .wrap-small {
  height: 100vh;
  width: unset;
}

.banner-content .banner-layout-box {
  padding: 80px 20px 20px;
  height: 100%;
  justify-content: space-between;
}

.banner-content .banner-layout {
  flex-direction: column;
}

.banner-content .banner-layout .left-banner,
.banner-content .banner-layout .right-banner {
  width: 100%;
}

.long-plaid-content {
  padding: 80px 100px;
  background-color: #f4f4f4;
}

.long-plaid-content .content-header {
  padding: 0 100px 60px;
}

.long-plaid-content .content-header h2 {
  padding-bottom: 16px;
  letter-spacing: -0.5px;
  font-size: 28px;
  line-height: 36px;
}

.long-plaid-content .content-header p {
  font-size: 14px;
  line-height: 21px;
}

.long-plaid-content img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.long-plaid-content .content-toggle-box {
  margin: 30px 150px 0px;
}

.long-plaid-content .content-toggle-box ul {
  display: flex;
  gap: 25px;
}

.long-plaid-content .content-toggle-box li {
  list-style-type: none;
  border-top: 3px solid black;
  padding: 20px;
}

.long-plaid-content .content-toggle-box li.active {
  border: 3px solid black;
}

.long-plaid-content .content-toggle-box button {
  border: 0;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.long-plaid-content .content-toggle-box button h3 {
  line-height: 1.25;
  -webkit-margin-after: 16px;
  margin-bottom: 16px;
  -webkit-margin-before: 0;
  margin-top: 0;
  overflow-wrap: break-word;
  padding: 0;
  word-break: break-word;
  font-size: 18px;
  font-weight: normal;
}

.long-plaid-content .content-toggle-box button p {
  font-size: 12px;
  line-height: 18px;
  color: #393c41;
  padding-bottom: 14px;
}

.long-plaid-content .content-toggle-box .specification-content {
  display: flex;
  justify-content: space-between;
}

.long-plaid-content .content-toggle-box .specification-content h3 {
  letter-spacing: -0.6px;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  font-weight: normal;
}

.long-plaid-content .content-toggle-box .specification-content p {
  font-size: 12px;
  line-height: 18px;
  color: #393c41;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slide-section {
    padding: 100px 0;
  }
  .slide-section .carousel .slide .legend {
    bottom: -95px;
  }
  .img-row-reverse {
    padding: 80px 0;
  }
  .banner-layout-box {
    padding: 60px 100px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .slide-section {
    padding: 100px 0;
  }
  .slide-section .carousel .slide .legend {
    bottom: -108px;
  }
  .scrim-image-content .content-box {
    width: 50%;
  }
  .img-row-reverse {
    padding: 80px 0;
  }
  .banner-layout-box {
    padding: 60px;
  }
  .banner-layout .left-banner {
    width: 40%;
  }
  .banner-layout .right-banner {
    width: 60%;
  }
  .wrap-image-content {
    flex-direction: column;
  }
  .wrap-image-content .image-content {
    width: 100%;
  }
  .wrap-image-content .banner-content {
    width: 100%;
  }
  .wrap-image-content .image-content .wrap-small {
    height: 75vh;
  }
  .wrap-image-content .banner-layout-box {
    padding: 60px;
  }
  .wrap-image-content .banner-layout {
    flex-direction: row;
  }
  .wrap-image-content .banner-layout .left-banner {
    width: 40%;
  }
  .wrap-image-content .banner-layout .right-banner {
    width: 60%;
  }
  .long-plaid-content {
    padding: 80px 0;
  }
  .long-plaid-content .content-toggle-box {
    margin: 30px 100px 0px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .slide-section {
    padding: 100px 0;
  }
  .slide-section .carousel .slide .legend {
    bottom: -108px;
  }
  .scrim-section {
    padding: 80px;
  }
  .scrim-image-content {
    display: flex;
    flex-direction: column;
  }
  .scrim-image-content img {
    width: 100%;
  }
  .scrim-image-content .content-box {
    width: 100%;
    padding: 40px;
  }
  .scrim-image-content.reverse {
    display: flex;
    flex-direction: column;
  }
  .img-row-reverse {
    padding: 80px 0;
  }
  .banner-layout-box {
    padding: 60px;
    flex-direction: column;
    gap: 50px;
  }
  .banner-layout .left-banner {
    width: 100%;
  }
  .banner-layout .right-banner {
    width: 100%;
  }
  .wrap-image-content {
    flex-direction: column;
  }
  .wrap-image-content .image-content {
    width: 100%;
  }
  .wrap-image-content .banner-content {
    width: 100%;
  }
  .wrap-image-content .image-content .wrap-small {
    height: 75vh;
  }
  .wrap-image-content .banner-layout-box {
    padding: 60px;
  }
  .wrap-image-content .banner-layout {
    flex-direction: row;
  }
  .wrap-image-content .banner-layout .left-banner {
    width: 40%;
  }
  .wrap-image-content .banner-layout .right-banner {
    width: 60%;
  }
  .long-plaid-content .content-toggle-box .specification-content {
    flex-direction: column;
  }
  .long-plaid-content {
    padding: 80px 0;
  }
  .long-plaid-content .content-toggle-box {
    margin: 30px 50px 0px;
  }
}

@media (min-width: 0) and (max-width: 576px) {
  .slide-section {
    padding: 100px 0;
  }
  .slide-section .carousel .slide .legend {
    bottom: -130px;
    width: 70%;
  }
  .slide-section .carousel .control-dots {
    width: 30%;
  }
  .scrim-section {
    padding: 80px 0;
  }
  .scrim-image-content {
    display: flex;
    flex-direction: column;
  }
  .scrim-image-content img {
    width: 100%;
  }
  .scrim-image-content .content-box {
    width: 100%;
    padding: 40px;
  }
  .scrim-image-content.reverse {
    display: flex;
    flex-direction: column;
  }
  .img-row-reverse {
    padding: 80px 0;
  }
  .banner-layout-box {
    padding: 60px 30px;
  }
  .banner-layout {
    flex-direction: column;
    gap: 20px;
  }
  .banner-layout .left-banner {
    width: 100%;
  }
  .banner-layout .right-banner {
    width: 100%;
  }
  .wrap-image-content {
    flex-direction: column;
  }
  .wrap-image-content .image-content {
    width: 100%;
  }
  .wrap-image-content .banner-content {
    width: 100%;
  }
  .wrap-image-content .image-content .wrap-small {
    height: 75vh;
  }
  .wrap-image-content .banner-layout-box {
    padding: 60px;
  }
  .wrap-image-content .banner-layout {
    flex-direction: column;
  }
  .wrap-image-content .banner-layout .left-banner {
    width: 100%;
  }
  .wrap-image-content .banner-layout .right-banner {
    width: 100%;
  }
  .long-plaid-content .content-toggle-box .specification-content {
    flex-direction: column;
  }
  .long-plaid-content {
    padding: 80px 0;
  }
  .long-plaid-content .content-toggle-box {
    margin: 30px 30px 0px;
  }
}
